<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!--Link below should really be conditionally inserted on the server side, depending on the tenant/user choice-->
    <link rel="stylesheet" href="/public/css/default-theme/sgvi-1-mini-cms.min.css" id="theme-link">
    <!--link rel="stylesheet" href="/public/css/default-theme/light-theme.min.css" id="theme-link"-->
    <script src="/public/js/bulma-carousel.min.js"></script>
    <script src="/public/js/default-theme/custom.js"></script>
    <script defer src="/public/js/all.min.js"></script>
  </head>