<section>
    <div id="homeCarousel">
      <!--
      <div style="background-image: url(https://wikiki.github.io/images/merry-christmas.jpg); background-size: cover; min-height: 500px;">
        <h1 class="title has-text-centered has-text-white">Slide 1</h1>
      </div>
      <div style="background-image: url(https://wikiki.github.io/images/sushi.jpg); background-size: cover;  min-height: 500px;">
        <h1 class="title has-text-centered has-text-white">Slide 2</h1>
      </div>
      <div style="background-image: url(https://wikiki.github.io/images/life.jpg); background-size: cover; min-height: 500px; ">
        <h1 class="title has-text-centered has-text-white">Slide 3</h1>
      </div>
      <div style="background-image: url(https://wikiki.github.io/images/sushi.jpg); background-size: cover; min-height: 500px;">
        <h1 class="title has-text-centered has-text-white">Slide 4</h1>
      </div>
      -->
      <div style="background-image: url(/public/img/home-carousel/blue-circle.png),url(/public/img/home-carousel/blue-circle.png), url(/public/img/home-carousel/image1.jpg); background-size: auto, auto, cover; background-repeat: no-repeat; min-height: 600px; background-position: 10% 112%, 90% 112%, center;">
        <h1 class="title has-text-centered has-text-white">Slide 1</h1>
      </div>
      <div style="background-image: url(/public/img/home-carousel/image2.jpg); background-size: cover;  min-height: 600px; background-position: center;">
        <h1 class="title has-text-centered has-text-white">Slide 2</h1>
      </div>
      <div style="background-image: url(/public/img/home-carousel/PAU-Logo-Website.gif), url(/public/img/home-carousel/image3.jpg); background-size: auto, cover; background-repeat: no-repeat; min-height: 600px; background-position: 96% 96%, center;">
        <h1 class="title has-text-centered has-text-white">Slide 3</h1>
      </div>
      <div style="background-image: url(/public/img/home-carousel/image4.jpg); background-size: cover; min-height: 600px; background-position: center;">
        <h1 class="title has-text-centered has-text-white">Slide 4</h1>
      </div>
    </div>
</section>