<section>
    <div id="homeCarousel">
      <!--
      <div style="background-image: url(https://wikiki.github.io/images/merry-christmas.jpg); background-size: cover; min-height: 500px;">
        <h1 class="title has-text-centered has-text-white">Slide 1</h1>
      </div>
      <div style="background-image: url(https://wikiki.github.io/images/sushi.jpg); background-size: cover;  min-height: 500px;">
        <h1 class="title has-text-centered has-text-white">Slide 2</h1>
      </div>
      <div style="background-image: url(https://wikiki.github.io/images/life.jpg); background-size: cover; min-height: 500px; ">
        <h1 class="title has-text-centered has-text-white">Slide 3</h1>
      </div>
      <div style="background-image: url(https://wikiki.github.io/images/sushi.jpg); background-size: cover; min-height: 500px;">
        <h1 class="title has-text-centered has-text-white">Slide 4</h1>
      </div>
      -->
      <div style="background-image: url(/public/img/Ralphie-logo.png), url(/public/img/r1.png); background-size: 194px, cover; min-height: 600px; background-position: 0% 96%, center;">
        <h1 class="title has-text-centered has-text-white">WELCOME TO THE RALPHIE GROUP</h1>
      </div>
      <div style="background-image: url(/public/img/Ralphie-logo.png), url(/public/img/r1.png); background-size: auto, cover; background-repeat: no-repeat; min-height: 600px; background-position: 10% 100%, center;">
        <h1 class="title has-text-centered has-text-white">What would you like to try today?</h1>
      </div>
      <div style="background-image: url(/public/img/Ralphie-logo.png), url(/public/img/jazz.png); background-size: auto, cover; background-repeat: no-repeat; min-height: 600px; background-position: 10% 100%, center;">
        <h1 class="title has-text-centered has-text-white">Comfort, Assured</h1>
      </div>


      <div style="background-image: url(/public/img/Ralphie-logo.png), url(/public/img/r2.png); background-size: auto, cover; background-repeat: no-repeat; min-height: 600px; background-position: 10% 100%, center;">
        <h1 class="title has-text-centered has-text-white">Rugged</h1>
      </div>
      <div style="background-image: url(/public/img/Ralphie-logo.png), url(/public/img/r3.png); background-size: auto, cover; background-repeat: no-repeat; min-height: 600px; background-position: 10% 100%, center;">
        <h1 class="title has-text-centered has-text-white">Luxury</h1>
      </div>
      <div style="background-image: url(/public/img/Ralphie-logo.png), url(/public/img/r4.png); background-size: auto, cover; background-repeat: no-repeat; min-height: 600px; background-position: 10% 100%, center;">
        <h1 class="title has-text-centered has-text-white">The all-New Ralphie L O T U S</h1>
      </div>
      <div style="background-image: url(/public/img/Ralphie-logo.png), url(/public/img/r5.png); background-size: auto, cover; background-repeat: no-repeat; min-height: 600px; background-position: 10% 100%, center;">
        <h1 class="title has-text-centered has-text-white">The all-New rfBX Octave VTX1000</h1>
      </div>
    </div>
</section>